.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #68119d;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#songSection {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  background-color: #46066e;
  padding: 1rem;
}

#searchSection {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: #68119d;
  padding: 1rem;

}

#trackSection {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: #68119d;
  padding: 1rem;
}

#trackThumbnail {
  background-color: black;
  height: 100px;
  width: 100px;
}

#trackInfo {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
